<!--<div class="full-length-panel cta-panel">-->
<!--<div class="cta">Javla fitta, mannen. <br/> Helveta mannen kuchen.</div>-->
<!--&lt;!&ndash;<app-mouse-indicator></app-mouse-indicator>&ndash;&gt;-->
<!--</div>-->
<!--<div class="full-length-panel">-->
<!--</div>-->


<div class="header">
  <div class="header-internal">

    <div class="header-logo">SIMLYNX</div>

    <div class="header-links">

      <div class="header-link">Docs</div>
      <div class="header-link">Your Cart</div>

    </div>

  </div>
</div>


<div class="main">

  <div class="clipper"></div>

  <div class="main-internal">

    <div class="blip">
      <div class="blip-base"></div>
      <div class="blip-pulse"></div>
    </div>

    <div class="cta-slugline">
      <div class="line-1">America's best cellular module<sup>*</sup></div>
      <div class="line-2">Connecting <span class="underlined">everything</span> to the cellular network.</div>
      <div class="line-3"><button class="bs-button-outline">Learn More</button><button class="bs-button">Buy Now</button></div>
    </div>

  </div>
  <!---->
  <!--<div class="bs-wrapper">-->
  <!--<div class="bs-panel cta">Everything. All at once.</div>-->
  <!--<div class="bs-panel content-wrapper"></div>-->
  <!--</div>-->


</div>


